[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[Music]
row=6
col=0

[Documents_Dylan]
row=1
col=1

[Pictures]
row=5
col=0

[ba1547d8-0fc0-473f-a37c-f48418012e70]
row=0
col=0

[Documents_Jared]
row=0
col=1

[Videos]
row=4
col=0

[Documents_Charl]
row=3
col=0

[Documents_Kerrie]
row=8
col=0

[HomeVideos]
row=7
col=0

